.movie-section {
  padding: 70px;
  margin: auto;
  background: transparent;
  margin-top: 120px;
  flex-wrap: nowrap;   
  width: 100%;
}
.movie-grid {
  display: flex;
  gap: 50px;
  overflow-x: auto;
}


.movie-card {
  min-width: 220px;   /* keeps all cards same size */
      /* prevents shrinking */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;   /* 👈 fixed width for all cards */
  height: 500px;  /* optional: fix height too */
}

.movie-card:hover {
  transform: translateY(-5px);
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-info h3 {
  margin-left: 10px;
  margin: 5px 0;
  font-size: 20px;
}

.movie-info p {
  margin-left: 10px;
  margin: 4px 0;
  color: #555;
}

.movie-card .btn {
  margin-top: auto;         /* 👈 Always pushes button to bottom */
  padding: 8px 16px;
  background: #e84848;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.section-title {
  text-align: left;     /* Align text to left */
  font-size: 25px;      /* Bigger font size */
  /* 👈 Moves it upward */   /* 👈 Push slightly to the left */
  margin-bottom: 100px;
}

.section-title .now {
  color: #e65757;       /* Bright red */
}

.section-title .showing {
  color: #ffffff;       /* White */
}
.rating{
  text-align: right;
}
.view-all {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;   /* make text + arrow inline */
  align-items: center;    /* align vertically */
  gap: 6px;               /* space between text and arrow */
  margin-top: 220px;
}

.arrow-icon {
  display: inline-block;  /* ensure it stays inline */
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.view-all:hover .arrow-icon {
  transform: translateX(6px); /* arrow slides right */
}

